@media (min-width: 0px) and (max-width: 300px) {
  * {
    font-size: 0.75rem !important;
  }
}


a {
  color: black !important;
}

.bg-orange {
  background-color: #f85606 !important;
}

ul {
  list-style: none;
}

.org{
  color: #f85606 !important;
}


.cat-box{
  z-index:-1;
}

body, html{
  width: 100% !important;
  height: 100% !important;
}