.homepage {

    .cat-box {
        height: 350px;
        overflow-y: scroll;
        border-radius: 25px !important;
        z-index: -1;
        
    }


    .list-group {
        border-radius: 10px !important;
    }

    img {
        height: 350px;
        border-radius: 10px;
        object-fit: cover;
    }

    // .carousel-control-prev-icon {
    //     background: orange;
    //     border-radius: 50%;
    // }

    @mixin res {
        @media (min-width: 0px) and (max-width: 767px) {
            @content;
        }
    }

    .items-card-res {
        @include res {
            display: flex;
            justify-content: center;
        }

        ;
    }
}

